:root {
    --green: #00754D;
    --grey: #D9D9D9;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.hidden{
    display: none;
}

#admin-products input, #admin-promotions input{
    width: 100%;
}

h2.title{
    text-align: center;
    margin: 2rem 0 1rem 0;
}

table thead{
    background-color: var(--green);
    color: white
}

.table tbody tr td{
    height: 5rem;
}

.table thead tr th{
    height: 4rem;
}

.table tbody tr:hover td {
    background-color: #9b9b9b;
    color: white
}

.table{
    margin: auto auto 2rem auto;
}

tbody tr{
    height: 100%;
}

tbody tr td:last-child{
    width: 10%;
}

td div{
    height: 100%;
}

td div button{
    border: none;
    flex-grow: 1;
    width: 50%
}

td div button:hover{
    background-color: #751313;
    color: white;
}

#admin-products th{
    width: 12%;
}

#admin-users th, #admin-orders th, #admin-reviews th{
    width: 20%;
}

#admin-promotions th{
    width: 18%;
}

button.save_edit{
    border-right: 1px solid var(--grey);
}

#admin-products tbody tr:nth-child(4n),
#admin-products tbody tr:nth-child(4n - 3),
#admin-promotions tbody tr:nth-child(4n),
#admin-promotions tbody tr:nth-child(4n - 3),
#admin-orders tbody tr:nth-child(4n),
#admin-orders tbody tr:nth-child(4n - 3) {
    background-color: #CECECE
}

#admin-products tbody tr:nth-child(4n - 1),
#admin-products tbody tr:nth-child(4n - 2),
#admin-promotions tbody tr:nth-child(4n - 1),
#admin-promotions tbody tr:nth-child(4n - 2),
#admin-orders tbody tr:nth-child(4n - 1),
#admin-orders tbody tr:nth-child(4n - 2)  {
    background-color: #D9D9D9
}

.toast {
    display: none;
    position: absolute;
    width: 15rem;
    border: 1px solid var(--green);
    background-color: #f9f9f9;
    z-index: 1;
    padding: 1rem
}

.category_bundle, .product_bundle{
    line-height: 2rem;
}

.toast button{
    background-color: transparent;
    border: none;
}

.category_bundle button:hover, .product_bundle button:hover{
    color: #751313;
}

.add_category button:hover, .add_product button:hover{
    color:var(--green)
}

.category_bundle p, .product_bundle p{
    margin: 0;
}