.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .container input[type=text],
  .container select {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #00754D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #00543A;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  #content {
    padding: 5em;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 100%;
    }
    .col-75 {
        margin: 0 auto;
        margin-bottom: 20px;
      }
  }