:root {
    --green: #00754D;
    --grey: #D9D9D9;
}

*{
    box-sizing: border-box;
    margin: 0;
}

form#editProfile {
}

#editProfile button{
    background-color: var(--green);
    border: none;
}

form#editPassword, form#editProfile {
}
#editPassword button{
    background-color: var(--green);
    border: none;
}