.mainpage-publicity {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.cappucino {
    position: relative;
    text-align: center;
    background-image: url('/images/cappucino.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 400px;
}  
.cappucino img {
    max-width: 100%;
}

.simple-description, .description {
    margin: unset;
    text-shadow: 0 0px 2px var(--dark-blue);
}


.simple-description {
    color: var(--primary-color);
    font-size: 5em;
    font-weight: bold;
    text-decoration: solid;
    text-decoration-color: black;
}

.description {
    color: var(--primary-color);
    font-size: 2em;
    font-weight: bold;
    text-decoration: solid;
    text-decoration-color: black;
}

.publicity-button {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.featured-products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-image-mainpage {
    max-width: 10em;
    height: 10em;
}

.product-name-mainpage {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.anchor{
    text-decoration: none;
    color: black;
}

.product-description-mainpage {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price-mainpage {
    font-size: 16px;
    color: black; 
    font-weight: bold;
}

.product-buttons-mainpage {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quantity_buttons {
    border: 1px solid var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.quantity_buttons button {
    align-self: center;
    color: var(--primary-color);
    background-color: white;
    font-size: 1em; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-cart-mainpage {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    font-size: 1em; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-cart-mainpage:hover, .quantity_buttons button:hover {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.product-out-mainpage {
    background-color: var(--secundary-color);
    color: black;
    font-size: 1em; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.no-items{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 1.2em;
    text-align: center;
    margin-top: 15%;
    height: 500px;
}

.checked {
    color: orange;
}

/* Custom styles for Bootstrap pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
}

.pagination .page-item {
    display: inline-block;
}

.pagination span {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #867a7a;
    color: var(--primary-color);
    border: 1px solid #867a7a;
}

.pagination .page-link {
    line-height: inherit;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.pagination .page-link:hover {
    color: var(--primary-color);
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.links{
    margin: 30px;
}

.title {
    text-align:center;
    font-size: 3em;
    color: black;
}

.product-removewishlist-mainpage, .product-wishlist-mainpage{
    background-color: white;
    color: var(--primary-color);
    font-size: 1em; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-removewishlist-mainpage:hover, .product-wishlist-mainpage:hover {
    background-color: white;
    color: var(--secundary-color);
}

.go-search{
    align-self: center;
    max-width: 200px;
    color: white;
    background-color: var(--primary-color);
    font-size: 1em; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}